*{
    padding: 0;
    box-sizing: border-box;
}
body,html{
    font-family: "Raleway",sans-serif;
    //height: 100vh;
    background-color: #6B00D6;
    display: grid;
    //place-content: center;
}
.btn-app {
    height:94vh;
    display: flex;
    flex-flow: column;
    margin: auto;
    justify-content: center;
}
button{
    background-color: #B716F9;
    border: none;
    color: white;
    padding: .5em 1em;
    border-radius: 2em;
    font-size: 1.3em;
    font-family: "Raleway",sans-serif;
    font-weight: bold;
    cursor: pointer;
}
.exit img{
    max-width: 23px;
    max-height: 23px;
}
.overlay{
    //display: none;
    height: 100vh;
    place-content: center;
    clip-path: circle(0%);
    position: fixed;
    background: #FFFEFF;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 2em;

    .exit{
        position: absolute;
        right: 2em;
        top: 2em;
    }
}
.menu{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));

}
.menu-container{
    margin-left: 2em;
    margin-top: 2em;
    opacity: 0;
    transform: translate(-30px);
    ul{
        list-style-type: none;
        padding: 0;

        li a{
            text-decoration: none;
            color: black;
            display: block;
            padding: 0.8em 2em 0em 1em;
            font-size: 0.9em;

            &:hover{
                background: rgb(240, 236, 240);
                border-radius:.2em  ;
            }
        }
    }
}

p.category{
    font-size: 1.2em;
    font-weight: bold;
    color: #6b006b;
    margin-left: 0.8em;
}